[submodule "ThirdParty/libzmq"]
	path = ThirdParty/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "ThirdParty/cppzmq"]
	path = ThirdParty/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
